<ngx-spinner></ngx-spinner>
<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Registration Page</h1>
            <form novalidate="" (ngSubmit)="onRegister()" #f="ngForm">
                <div class="form-content">
                    <div class="form-group">
                        <input type="name"  name="name" id="name"  class="form-control input-underline input-lg" placeholder="{{ 'Full Name' | translate }}" ngModel>
                    </div>
                    <div class="form-group">
                        <input type="phone"  name="phone" id="phone"  class="form-control input-underline input-lg" placeholder="{{ 'Phone' | translate }}" ngModel>
                    </div>
                    <div class="form-group">
                        <input type="email"  name="email" id="email"  class="form-control input-underline input-lg" placeholder="{{ 'Email' | translate }}" ngModel>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control input-underline input-lg" placeholder="{{ 'Password' | translate }}" ngModel>
                    </div>
                </div>
                <a class="btn rounded-btn" type="submit" (click)="onRegister()">{{ ' Register ' | translate }}</a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/login']">{{ 'Login' | translate }}</a>
            </form>
        </div>
    </div>
</div>