<ngx-spinner></ngx-spinner>
<div class="login-page" [@routerTransition]>
    <div class="row justify-content-md-center">
        <div class="col-md-4">
            <img src="assets/images/logo.png" width="150px" class="user-avatar" />
            <h1>Login Page</h1>
            <form novalidate="" (ngSubmit)="onLoggedin()" #f="ngForm">
                <div class="form-content">
                    <div class="form-group">
                        <input type="phone"  name="phone" id="phone"  class="form-control input-underline input-lg" placeholder="{{ 'Phone' | translate }}" ngModel>
                    </div>
                    <div class="form-group">
                        <input type="password" name="password" id="password" class="form-control input-underline input-lg" placeholder="{{ 'Password' | translate }}" ngModel>
                    </div>
                </div>
                <a class="btn rounded-btn" type="submit" (click)="onLoggedin()">{{ 'Log in' | translate }}</a>
                &nbsp;
                <a class="btn rounded-btn" [routerLink]="['/signup']">{{ 'Register' | translate }}</a>
            </form>
        </div>
    </div>
</div>
