<ngx-spinner></ngx-spinner>
<div [@routerTransition]>
        <app-page-header [heading]="'Wishlist'" [icon]="'fa-edit'"></app-page-header>
          <div fxFlex *ngIf="products">
            <mat-grid-list cols="2"  rowHeight="200px">
              <mat-grid-tile *ngFor="let product of products"  appHighlight>
                <img height="200px" src="{{product.image_link}}">
                <mat-grid-tile-header style="background-color:transparent">
                  <a style="background-color:rgb(95, 16, 221)" target="_blank" href="{{product.image_source}}" mat-button>Show</a>
                  <span class="flex-spacer"></span>
                  <p style="color:rgb(48, 48, 145); padding:10px"> Rs {{product.image_description}}</p>
                </mat-grid-tile-header>
                <mat-grid-tile-footer>
                  <h1 mat-line> {{product.image_host | uppercase}} </h1>
                  <span class="flex-spacer"></span>
                </mat-grid-tile-footer>
              </mat-grid-tile>
            </mat-grid-list>
          </div>
    </div>
    