<ngx-spinner></ngx-spinner>
<div [@routerTransition]>
    <app-page-header [heading]="'Image Search'" [icon]="'fa-edit'"></app-page-header>
    <div class="row">
        <div class="col-lg-6">
            <!--
            <form novalidate="" (ngSubmit)="onSubmit()" #f="ngForm">
                <div class="form-group">
                    <div class="col-md-12">
                        <input type="imgTag" class="form-control" name="imgTag" id="imgTag" placeholder="Enter one Image Tag" ngModel>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-12">
                        <button type="submit" class="btn btn-primary btn-block btn-raised" [disabled] ="!searchForm.valid">Submit</button>
                    </div>
                </div>
            </form>-->
        </div>
    </div>

    <div>
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" >
            <div class="form-group">
            <input type="file" id="avatar" (change)="onFileChange($event)" #fileInput>
            <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">clear file</button>
            </div>
            <button type="submit" [disabled]="searchForm.invalid || loading" class="btn btn-success">Submit <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
        </form>
    </div>
      
      <div fxFlex *ngIf="products">
        <mat-grid-list cols="2"  rowHeight="200px">
          <mat-grid-tile *ngFor="let product of products"  appHighlight>
            <img height="200px" src="{{product.image_link}}">
            <mat-grid-tile-header style="background-color:transparent">
              <a style="background-color:rgb(95, 16, 221)" target="_blank" href="{{product.image_source}}" mat-button>Show</a>
              <span class="flex-spacer"></span>
              <p style="color:rgb(48, 48, 145); padding: 10px"> Rs {{product.image_description}}</p>
            </mat-grid-tile-header>
            <mat-grid-tile-footer>
              <h1 mat-line> {{product.image_host | uppercase}} </h1>
              <span class="flex-spacer"></span>
                <button mat-icon-button>
                    <span style="color:rgb(22, 22, 235);" (click)="addToWishlist(product)" class="fa fa-plus fa-lg"></span>
                </button>
            </mat-grid-tile-footer>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
</div>
